<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='my.css') }}">
    <link href="{{ url_for('static', filename='logo.png') }}" rel="icon">
    <title>AG Contact</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-5">Test</div>
        </div>
    </div>
</body>
</html>